.footer {
  padding-top: 112px;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 100px;
  .footer-item {
    font-size: 19px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    p {
      margin-bottom: 34px;
    }
    .link-list {
      display: flex;
      .link-item {
        margin-right: 33px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .social-list {
      display: flex;
      justify-content: center;
      .social-item {
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
      }
      .social-icon {
        fill: var(--primary-text-color);
      }
    }
    .footer-input {
      width: 175px;
      height: 33px;
      background-color: var(--secondary-bg-color);
      border: none;
      color: var(--secondary-text-color);
      padding: 10px 15px;
      outline: none;
    }
    .footer-btn {
      width: 120px;
      height: 33px;
      border: 2px solid #ffffff;
      background-color: var(--primary-bg-color);
      color: var(--primary-text-color);
      font-family: var(--primary-font), sans-serif;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      position: relative;
      right: 5px;
    }
  }
}
.footer-copyright {
  padding-top: 16px;
  padding-bottom: 19px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  p {
    opacity: 0.4;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
  }
}
