.container {
  width: 100vw;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  @media  screen and (min-width: 480px) {
    width: 85vw;
    padding-left: 38px;
    padding-right: 38px;
  }
  @media  screen and (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media  screen and (min-width: 1200px) {
    padding-left: 80px;
    padding-right: 80px; 
  }
}