:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --primary-bg-color: #000000;
  --secondary-bg-color: #ffffff;
  --first-accent-color: #ed2428;
  --second-accent-color: #4823c7;
  --primary-font: "GT America";
  --headers-font: "Degular Display";
}
